# Construcción del Dataset de migrantes de Al Mashriq a la Argentina

+ Revisando archivos de la bd, concatenando y haciendo algo de limpieza

In [1]:
import pandas as pd
from matplotlib import pyplot as plt

%matplotlib inline

In [2]:
#origen de datos

df1 = pd.read_excel("data-o/arch1.xlsx")
df2 = pd.read_excel("data-o/arch2.xlsx")
df3 = pd.read_excel("data-o/arch3.xlsx")
df4 = pd.read_excel("data-o/arch4.xlsx")

In [3]:
print("df1: {}".format(len(df1)))
print("df2: {}".format(len(df2)))
print("df3: {}".format(len(df3)))
print("df4: {}".format(len(df4)))
print("========================")
print("Total registros: {}".format(len(df1) + len(df2) + len(df3) + len(df4)))

df1: 45296
df2: 9346
df3: 13815
df4: 85802
========================
Total registros: 154259

## Procesando fechas antes de concatenar

Antes de concatenar los df para crear la primera versión del dataset es necesario estar seguros de que la columna fecha en cada uno contiene una fecha. 

Como se puede ver en la siguiente celda, los dataframes df3 y df4 contienen en la columna "FECLLE" algunas datos de tipo string con formato AA/MM/DD. 

Para eso se crea una funcion que comprueba si el dato es una fecha y si no lo es lo convierte.

In [4]:
# revisando formatos de fecha en cada df
from datetime import datetime
#df1['FECLLE']
#df2['FECLLE']
#df3['FECLLE']
#df4['FECLLE']

In [5]:

def convertir_a_fecha(fecha):
    if type(fecha) != datetime and type(fecha) != pd.Timestamp:
        components = fecha.split("/")
        try:
            return pd.Timestamp(int(components[2]), int(components[1]), int(components[0]), 0, 0, 0)  
        except Exception as e:
            print(e)
            print(fecha)
    return fecha
                        
df3['FECLLE'] = list(map(convertir_a_fecha, df3['FECLLE']))
df4['FECLLE'] = list(map(convertir_a_fecha, df4['FECLLE']))

Out of bounds nanosecond timestamp: 1492-09-22 00:00:00
22/09/1492
Out of bounds nanosecond timestamp: 1492-09-22 00:00:00
22/09/1492
Out of bounds nanosecond timestamp: 1492-09-22 00:00:00
22/09/1492
Out of bounds nanosecond timestamp: 1492-09-22 00:00:00
22/09/1492
Out of bounds nanosecond timestamp: 1492-09-22 00:00:00
22/09/1492
Out of bounds nanosecond timestamp: 1492-09-22 00:00:00
22/09/1492
Out of bounds nanosecond timestamp: 1492-09-22 00:00:00
22/09/1492
Out of bounds nanosecond timestamp: 1492-09-22 00:00:00
22/09/1492
Out of bounds nanosecond timestamp: 1492-09-22 00:00:00
22/09/1492
Out of bounds nanosecond timestamp: 1492-09-22 00:00:00
22/09/1492
Out of bounds nanosecond timestamp: 1492-09-22 00:00:00
22/09/1492
Out of bounds nanosecond timestamp: 1492-09-22 00:00:00
22/09/1492
Out of bounds nanosecond timestamp: 1492-09-22 00:00:00
22/09/1492
Out of bounds nanosecond timestamp: 1492-09-22 00:00:00
22/09/1492
Out of bounds nanosecond timestamp: 1492-09-22 00:00:00
22/09/1492
Out of bounds nanosecond timestamp: 1492-09-22 00:00:00
22/09/1492
Out of bounds nanosecond timestamp: 1492-09-22 00:00:00
22/09/1492
Out of bounds nanosecond timestamp: 1492-09-22 00:00:00
22/09/1492
Out of bounds nanosecond timestamp: 1492-09-22 00:00:00
22/09/1492
Out of bounds nanosecond timestamp: 1492-09-22 00:00:00
22/09/1492
Out of bounds nanosecond timestamp: 1492-09-22 00:00:00
22/09/1492
Out of bounds nanosecond timestamp: 1492-09-22 00:00:00
22/09/1492
Out of bounds nanosecond timestamp: 1492-09-22 00:00:00
22/09/1492
Out of bounds nanosecond timestamp: 1492-09-22 00:00:00
22/09/1492
Out of bounds nanosecond timestamp: 1492-09-22 00:00:00
22/09/1492

Tenemos un conjunto de registros con fechas que causan un integer overflow dado que usamos enteros de 64 bits. 

El rango de fechas representable en pandas es:

In [6]:
print("Fecha mínima representable: {}".format(pd.Timestamp.min))
print("Fecha máxima representable: {}".format(pd.Timestamp.max))

Fecha mínima representable: 1677-09-21 00:12:43.145225
Fecha máxima representable: 2262-04-11 23:47:16.854775807

Sin embargo esto es un error evidente de carga en la base de datos del CEMLA dado que desde ya en 1492 no solo no existía la Dirección Nacional de Migraciones sino que ni siquiera existía la Argentina.

Buscamos los índices de los registros con esas fechas y los mostramos a ver qué in formación contienen.

In [7]:
index = 0
for fecha in df4['FECLLE']:
    if fecha == '22/09/1492':
        print("{}:    {}".format(index, fecha))
    index += 1

23171:    22/09/1492
23172:    22/09/1492
23173:    22/09/1492
23174:    22/09/1492
23175:    22/09/1492
23176:    22/09/1492
23177:    22/09/1492
23178:    22/09/1492
23179:    22/09/1492
23180:    22/09/1492
23181:    22/09/1492
23182:    22/09/1492
23183:    22/09/1492
23184:    22/09/1492
23185:    22/09/1492
23186:    22/09/1492
23187:    22/09/1492
23188:    22/09/1492
23189:    22/09/1492
23190:    22/09/1492
23191:    22/09/1492
23192:    22/09/1492
23193:    22/09/1492
23194:    22/09/1492
23195:    22/09/1492

In [13]:
print("Total de registros con fecha erronea: {}".format(len(df4[23171:23195])))
df4[23171:23195]

Total de registros con fecha erronea: 24

,NOMBRE VAPOR,APELLI,NOMBRE,NACION,PUERTO.descri,EDAD,SEXO,ESTCIV,RELIGI.descri,INSTRU,FECLLE,PROFES,DESEMBARQ,LUGNAC
23171,PLATA,ANTAR,EZZA,58,MARSELLA,44.0,M,C,CATOLICA,S,22/09/1492,OUVRIER,100,DESCONOCIDO
23172,PLATA,ANTAR,BANNOUB,58,MARSELLA,28.0,F,C,CATOLICA,S,22/09/1492,OUVRIER,100,DESCONOCIDO
23173,PLATA,ANTAR,SELIM,58,MARSELLA,10.0,M,S,CATOLICA,S,22/09/1492,DESCONOCIDA,100,DESCONOCIDO
23174,PLATA,ANTAR,JOUSEF,58,MARSELLA,5.0,M,S,CATOLICA,X,22/09/1492,DESCONOCIDA,100,DESCONOCIDO
23175,PLATA,ANTAR,RHAHMO,58,MARSELLA,1.0,M,S,CATOLICA,X,22/09/1492,DESCONOCIDA,100,DESCONOCIDO
23176,PLATA,JAHNI,MERIAN,53,MARSELLA,23.0,F,S,CATOLICA,S,22/09/1492,JORNALERO,100,DESCONOCIDO
23177,PLATA,SEVY,JUDITH,53,MARSELLA,25.0,F,S,CATOLICA,S,22/09/1492,JORNALERO,100,DESCONOCIDO
23178,PLATA,SEVY,ESTHER,53,MARSELLA,26.0,F,S,CATOLICA,S,22/09/1492,SIN PROFESION,100,DESCONOCIDO
23179,PLATA,COHEN,JACQUES,53,MARSELLA,19.0,M,S,CATOLICA,S,22/09/1492,OUVRIER,100,DESCONOCIDO
23180,PLATA,COHEN,HAIN,53,MARSELLA,17.0,M,S,CATOLICA,S,22/09/1492,OUVRIER,100,DESCONOCIDO
23181,PLATA,ZAZBON,ISAAC,53,MARSELLA,43.0,M,C,CATOLICA,S,22/09/1492,OUVRIER,100,DESCONOCIDO
23182,PLATA,ZAZBON,VICTORIA,53,MARSELLA,19.0,F,S,CATOLICA,S,22/09/1492,OUVRIER,100,DESCONOCIDO
23183,PLATA,ZAZBON,REINA,53,MARSELLA,39.0,F,C,CATOLICA,S,22/09/1492,OUVRIER,100,DESCONOCIDO
23184,PLATA,ZAZBON,SAMUEL,53,MARSELLA,4.0,M,S,CATOLICA,X,22/09/1492,DESCONOCIDA,100,DESCONOCIDO
23185,PLATA,ZAZBON,MALKA,53,MARSELLA,1.0,F,S,CATOLICA,X,22/09/1492,DESCONOCIDA,100,DESCONOCIDO
23186,PLATA,SEVY,ISRAEL,53,MARSELLA,25.0,M,C,CATOLICA,S,22/09/1492,OUVRIER,100,DESCONOCIDO
23187,PLATA,SEVY,FLORES,53,MARSELLA,24.0,F,C,CATOLICA,S,22/09/1492,OUVRIER,100,DESCONOCIDO
23188,PLATA,SEVY,BAROLEH,53,MARSELLA,1.0,F,S,CATOLICA,X,22/09/1492,DESCONOCIDA,100,DESCONOCIDO
23189,PLATA,AMIER,JACQUES,53,MARSELLA,15.0,M,S,CATOLICA,S,22/09/1492,OUVRIER,100,DESCONOCIDO
23190,PLATA,SISRA,JAIMINE,58,MARSELLA,18.0,M,S,CATOLICA,S,22/09/1492,OUVRIER,100,DESCONOCIDO
23191,PLATA,SISRA,BAHIA,58,MARSELLA,17.0,M,S,CATOLICA,S,22/09/1492,OUVRIER,100,DESCONOCIDO
23192,PLATA,ZAYAS,MESSIM,58,MARSELLA,17.0,M,S,CATOLICA,S,22/09/1492,OUVRIER,100,DESCONOCIDO
23193,PLATA,OLMED,OBDINE,58,MARSELLA,39.0,M,S,CATOLICA,N,22/09/1492,OUVRIER,100,DESCONOCIDO
23194,PLATA,BOUKAIR,JOSEPH SALOMON,58,MARSELLA,57.0,M,C,CATOLICA,N,22/09/1492,JORNALERO,100,DESCONOCIDO

Los 24 registros se corresponden con migrantes registrados bajo las nacionalidaes Otomana (cod 53) y Siria (cod 58). Dos nacionalidades que nos interesan dado que muchos Palestinos han sido registrados bajo las mismas. 

Por otro lado el lugar de nacimiento, que se utilizará para encontrar palestinos registrados bajo otras categorías etno-nacionales es desconocido. 

Por lo pronto decidimos excluir estos registros del dataframe ya que podremos volver sobre ellos de ser necesario conservándolos en los archivos originales.

In [14]:
df4 = df4.drop(df4.index[23171:23196])

len(df4) + 24

85801

In [15]:
# Comprobamos que todos los df tienen fechas en la columna "FECLLE" 

#any(type(fecha) == pd.Timestamp or type(fecha) == datetime for fecha in df1['FECLLE'])
#any(type(fecha) == pd.Timestamp or type(fecha) == datetime for fecha in df2['FECLLE'])
#any(type(fecha) == pd.Timestamp or type(fecha) == datetime for fecha in df3['FECLLE'])
any(type(fecha) == pd.Timestamp for fecha in df4['FECLLE'])
df4
#for fecha in df4['FECLLE']:
#    if type(fecha) != datetime:
#        print(fecha)

        
#df4[(df4['FECLLE'] > '1898-10-26') & (df4['FECLLE'] < '06-07-1899')]
#df3.columns

,NOMBRE VAPOR,APELLI,NOMBRE,NACION,PUERTO.descri,EDAD,SEXO,ESTCIV,RELIGI.descri,INSTRU,FECLLE,PROFES,DESEMBARQ,LUGNAC
0,MONTEVIDEO,SCIFRIZ,C. JULIUS,Asiatica,GENOVA,18.0,M,S,CATOLICA,S,1893-11-25 00:00:00,AGRICULTOR,100,DESCONOCIDO
1,PARANA,DAVID,ANTOINE,51,HAVRE,20.0,M,C,CATOLICA,S,1883-06-26 00:00:00,COMERCIO,100,DESCONOCIDO
2,PARANA,DAVID,MICHEL,51,HAVRE,11.0,M,S,CATOLICA,S,1883-06-27 00:00:00,COMERCIO,100,DESCONOCIDO
3,PARANA,BARECK,DEIK,51,HAVRE,35.0,M,C,CATOLICA,S,1883-06-28 00:00:00,COMERCIO,100,DESCONOCIDO
4,PARANA,DAVID,JEAN,51,HAVRE,28.0,M,C,CATOLICA,S,1883-06-29 00:00:00,COMERCIO,100,DESCONOCIDO
5,VASARI,NEUCL,DAVID,51,NUEVA YORK,38.0,M,C,PROTESTANTE,S,1910-09-14 00:00:00,TAILOR,100,DESCONOCIDO
6,VASARI,NEUCL,LENA,51,NUEVA YORK,37.0,F,C,PROTESTANTE,S,1910-09-14 00:00:00,TAILOR,100,DESCONOCIDO
7,CAP. ARCONA,WARNECHE,ANNA,51,HAMBURGO,23.0,F,S,CATOLICA,S,1911-10-05 00:00:00,DESCONOCIDA,100,DESCONOCIDO
8,CAP. ARCONA,BENTH,MARIA,51,HAMBURGO,36.0,F,C,CATOLICA,S,1911-10-05 00:00:00,DESCONOCIDA,100,DESCONOCIDO
9,CAP. ARCONA,BENTH,HERMINE,51,HAMBURGO,14.0,F,S,CATOLICA,S,1911-10-05 00:00:00,DESCONOCIDA,100,DESCONOCIDO
10,CAP. ARCONA,URBTSCHEK,HERMINE,51,HAMBURGO,23.0,F,S,CATOLICA,S,1911-10-05 00:00:00,DESCONOCIDA,100,DESCONOCIDO
11,TOSCANA,JAANOV,TADYO,51,GENOVA,17.0,M,S,CATOLICA,X,1911-03-10 00:00:00,BRACCIANTE,100,DESCONOCIDO
12,CAVOUR,ZURINI,S.O.,51,GENOVA,31.0,M,C,CATOLICA,S,1911-11-29 00:00:00,POSSIDENTE,100,DESCONOCIDO
13,ZEELANDIA,PAWLUCH,HEFEN,51,AMSTERDAM,22.0,M,S,CATOLICA,D,1911-11-12 00:00:00,JORNALERO,100,DESCONOCIDO
14,FRISIA,FLUTCH,ERNEST,51,DOVER,21.0,M,S,PROTESTANTE,D,1912-04-27 00:00:00,OBRERO,100,DESCONOCIDO
15,CAP. FINISTERRE,IEITELES,OTTO,51,HAMBURGO,39.0,M,C,CATOLICA,S,1912-04-30 00:00:00,ILEGIBLE,100,DESCONOCIDO
16,CAP. ORTEGAL,YSRRYNY,L.,51,BOULOGNE,28.0,M,C,NINGUNA,S,1913-04-25 00:00:00,SIN PROFESION,100,N
17,GARONNA,MEISTER,EVA,51,SANTOS,42.0,F,C,CATOLICA,S,1917-07-01 00:00:00,SIN PROFESION,100,NaN
18,TOMASO DI SAVOIA,ABAD,BAHIA,51,SANTOS,47.0,F,C,CATOLICA,S,1918-06-16 00:00:00,AMA DE CASA,100,NaN
19,TOMASO DI SAVOIA,DAYAND,SERAFINA,51,SANTOS,26.0,F,S,CATOLICA,S,1918-06-16 00:00:00,AMA DE CASA,100,NaN
20,TOMASO DI SAVOIA,MEDIAN,NESFINA,51,GENOVA,55.0,F,C,CATOLICA,S,1920-05-13 00:00:00,NEGOCIANTE,100,NaN
21,TOMASO DI SAVOIA,MEDIAN,ESTHER,51,GENOVA,48.0,F,C,CATOLICA,S,1920-05-13 00:00:00,AMA DE CASA,100,NaN
22,TOMASO DI SAVOIA,SAREL,FACO,51,GENOVA,18.0,M,S,CATOLICA,S,1920-05-13 00:00:00,ESTUDIANTE,100,NaN
23,TOMASO DI SAVOIA,SHULRUFIR,ISRAEL,51,GENOVA,33.0,M,C,HEBREA,S,1920-07-22 00:00:00,AGRICULTOR,100,NaN
24,VANDYCK,GEORGE,PETER,51,NUEVA YORK,38.0,M,S,CATOLICA,S,1922-11-26 00:00:00,LABRADOR,100,NaN
25,LUTETIA,HABIB,BULLERAICH,51,BURDEOS,63.0,M,C,CATOLICA,S,1923-12-05 00:00:00,COMERCIANTE,100,NaN
26,LUTETIA,DAKARET,YSSAK,51,BURDEOS,36.0,M,C,CATOLICA,S,1923-12-05 00:00:00,COMERCIANTE,100,BEIRUT
27,ALSINA,SOUKIASSIAN,MARIE,51,MARSELLA,28.0,F,C,ORTODOXA,S,1924-03-30 00:00:00,AMA DE CASA,100,SMYRNE
28,MENDOZA,SULTANI,ELIDA,51,MARSELLA,14.0,M,S,CATOLICA,N,1924-05-01 00:00:00,JORNALERO,100,SMYNRA
29,VAUBAN,JORDAN,ANTHONY,51,NUEVA YORK,33.0,M,C,PROTESTANTE,S,1924-07-05 00:00:00,COMERCIANTE,100,ESMIRNA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85772,PAMPA,ALOUID,SALOME,67,MARSELLA,24.0,F,S,CATOLICA,N,1909-10-01 00:00:00,JOURN.,100,NaN
85773,PAMPA,CHABOUL,HIDLE,67,MARSELLA,25.0,F,S,CATOLICA,N,1909-10-01 00:00:00,JPURN.,100,NaN
85774,PAMPA,HAMED,MOUHAMED,67,MARSELLA,26.0,M,S,CATOLICA,N,1909-10-01 00:00:00,JOURNAL.,100,NaN
85775,PAMPA,KALEB,ISMAELE,67,MARSELLA,29.0,M,S,CATOLICA,N,1909-10-01 00:00:00,JOURNAL.,100,NaN
85776,PAMPA,SAID,DIB,67,MARSELLA,20.0,M,S,CATOLICA,N,1909-10-01 00:00:00,JOURNAL.,100,NaN
85777,PAMPA,KALIL,SAID,67,MARSELLA,30.0,M,S,CATOLICA,N,1909-10-01 00:00:00,JOURN.,100,NaN
85778,PAMPA,KALIL,NAMAU,67,MARSELLA,17.0,M,S,CATOLICA,N,1909-10-01 00:00:00,JOURNAL.,100,NaN
85779,PAMPA,LAHOUD,AKLE,67,MARSELLA,25.0,F,S,CATOLICA,N,1909-10-01 00:00:00,JOURN.,100,NaN
85780,PAMPA,BANHUASTE,JOSEPH,53,MARSELLA,18.0,M,S,CATOLICA,S,1909-10-01 00:00:00,JORNAL.,100,NaN
85781,PAMPA,AL HAGE,DIB,67,MARSELLA,22.0,M,S,CATOLICA,N,1909-10-01 00:00:00,JOURNAL.,100,NaN
85782,PAMPA,MOUTAPHIA,IBRAHIM,67,MARSELLA,23.0,M,S,CATOLICA,N,1909-10-01 00:00:00,JOURNAL.,100,NaN
85783,PAMPA,KASSEM,ALI ALMAD,67,MARSELLA,21.0,M,S,CATOLICA,N,1909-10-01 00:00:00,JOURNAL.,100,NaN
85784,PAMPA,KASSEM,HASSAN,67,MARSELLA,27.0,M,S,CATOLICA,N,1909-10-01 00:00:00,JOURNAL.,100,NaN
85785,PAMPA,KASSEM,Yt.,67,MARSELLA,27.0,M,S,CATOLICA,N,1909-10-01 00:00:00,JOURNAL.,100,NaN
85786,PAMPA,HUSSEINE,ALI,67,MARSELLA,26.0,M,S,CATOLICA,N,1909-10-01 00:00:00,JOURNAL.,100,NaN
85787,PAMPA,SELEM,MIKI,67,MARSELLA,25.0,M,S,CATOLICA,N,1909-10-01 00:00:00,JOURNAL.,100,NaN
85788,PAMPA,RASSOUL,ABDEL,67,MARSELLA,24.0,F,S,CATOLICA,N,1909-10-01 00:00:00,JOURNAL.,100,NaN
85789,PAMPA,MOAHMED,KASSEM,67,MARSELLA,30.0,M,S,CATOLICA,N,1909-10-01 00:00:00,JOURNAL.,100,NaN
85790,PAMPA,MOAHMED,ABED,67,MARSELLA,28.0,M,S,CATOLICA,N,1909-10-01 00:00:00,JOURNAL.,100,NaN
85791,PAMPA,MOHAMED,ALI,67,MARSELLA,27.0,M,S,CATOLICA,N,1909-10-01 00:00:00,JOURNAL.,100,NaN
85792,PAMPA,MOHAMED,Yt.,67,MARSELLA,22.0,M,S,CATOLICA,N,1909-10-01 00:00:00,JOURNAL.,100,NaN
85793,PAMPA,ASSAD,DIB,67,MARSELLA,18.0,M,S,CATOLICA,N,1909-10-01 00:00:00,JOURNAL.,100,NaN
85794,PAMPA,HACHENE,HAMED,67,MARSELLA,17.0,M,S,CATOLICA,N,1909-10-01 00:00:00,JOURNAL.,100,NaN
85795,PAMPA,AUAD,MOHAMED,67,MARSELLA,34.0,M,S,CATOLICA,N,1909-10-01 00:00:00,JOURNAL.,100,NaN
85796,PLATA,KOHA,HAIM,53,MARSELLA,21.0,M,S,CATOLICA,S,1909-10-09 00:00:00,JOURNALIER,100,NaN
85797,PLATA,COHEN,MOISE,53,MARSELLA,18.0,M,S,CATOLICA,S,1909-10-09 00:00:00,JOURNALIER,100,NaN
85798,PLATA,MAHMOUNN,JOUSEPPH,53,MARSELLA,19.0,M,S,CATOLICA,S,1909-10-09 00:00:00,JOURNALIER,100,NaN
85799,PLATA,AZARI,MAYED,53,MARSELLA,18.0,M,S,CATOLICA,S,1909-10-09 00:00:00,JOURNALIER,100,NaN
85800,PLATA,BIGERAN,ABRAHAM,53,MARSELLA,19.0,M,S,CATOLICA,S,1909-10-09 00:00:00,JOURNALIER,100,NaN
85801,PLATA,BENCHOAU,HAIME,53,MARSELLA,19.0,M,S,CATOLICA,S,1909-10-09 00:00:00,JOURNALIER,100,NaN

In [16]:
#concatenando dataframes
frames = [df1, df2, df3, df4]
result = pd.concat(frames)

In [17]:
result.count()

APELLI           154234
DESEMBARQ        154234
EDAD             154114
ESTCIV           154234
FECLLE           153865
INSTRU           154219
LUGNAC           129340
NACION           154234
NOMBRE           154234
NOMBRE VAPOR     154234
PROFES           149703
PUERTO.descri     99592
PUERTO_descri     54642
RELIGI.descri     99592
RELIGI_descri     54642
SEXO             154234
id_inm            45296
dtype: int64

In [18]:
#Dataset v1
result.to_excel("data-n/dataset-migrantes-al-mashriq.xlsx")

In [24]:
#revisando trabajo con fechas 

#result['FECLLE'] = pd.to_datetime(result['FECLLE'])


#result[result['FECLLE']=='31/12/9999']

index = 0
contador = 0
for fecha in result['FECLLE']:
    if type(fecha) != pd.Timestamp and type(fecha) != datetime:
        print("{}:    {}".format(index, fecha))
        contador += 1
    index += 1

print(contador)

#formato = "%Y-%m-%d"
#result[datetime(result['FECLLE']) < datetime.strptime('1906-11-17', formato)]

#result_fecha = result.set_index('FECLLE')
#result_fecha.iloc['1906-11-17 00:00:00']
#filtrado = result[(result['FECLLE'] > datetime(1906, 11, 17, 0, 0, 0)) 
#                 & (result['FECLLE'] < datetime(1909, 10, 9, 0, 0, 0))]
#filtrado

#mask = (result['FECLLE'] > datetime(1906, 11, 17, 0, 0, 0)) & (result['FECLLE'] < datetime(1909, 10, 9, 0, 0, 0))

#print(result.loc[mask])
#start_time = datetime(1906, 11, 17, 0, 0, 0)
#end_time = datetime(1909, 10, 9, 0, 0, 0)
#print(result_fecha.between_time(start_time=start_time, end_time=end_time))

#result_fecha.loc['1905-11-27':'1909-10-9']

#df[(df['date'] > '2013-01-01') & (df['date'] < '2013-02-01')]

#df.ix['2014-01-01':'2014-02-01']

#result[result['FECLLE'] > datetime(1906, 11, 17, 0, 0, 0)]

13407:    NaT
45296:    NaT
45297:    NaT
45298:    NaT
45299:    NaT
45300:    NaT
45301:    NaT
45302:    NaT
45303:    NaT
45304:    NaT
45305:    NaT
45306:    NaT
45307:    NaT
45308:    NaT
45309:    NaT
45310:    NaT
45311:    NaT
45312:    NaT
45313:    NaT
45314:    NaT
45315:    NaT
45316:    NaT
45317:    NaT
45318:    NaT
45319:    NaT
45320:    NaT
45321:    NaT
45322:    NaT
45323:    NaT
45324:    NaT
45325:    NaT
45326:    NaT
45327:    NaT
45328:    NaT
45329:    NaT
45330:    NaT
45331:    NaT
45332:    NaT
45333:    NaT
45334:    NaT
45335:    NaT
45336:    NaT
45337:    NaT
45338:    NaT
45339:    NaT
45340:    NaT
45341:    NaT
45342:    NaT
45343:    NaT
45344:    NaT
45345:    NaT
45346:    NaT
45347:    NaT
45348:    NaT
45349:    NaT
45350:    NaT
45351:    NaT
45352:    NaT
45353:    NaT
45354:    NaT
45355:    NaT
45356:    NaT
45357:    NaT
45358:    NaT
45359:    NaT
45360:    NaT
45361:    NaT
45362:    NaT
45363:    NaT
45364:    NaT
45365:    NaT
45366:    NaT
45367:    NaT
45368:    NaT
45369:    NaT
45370:    NaT
45371:    NaT
45372:    NaT
45373:    NaT
45374:    NaT
45375:    NaT
45376:    NaT
45377:    NaT
45378:    NaT
45379:    NaT
45380:    NaT
45381:    NaT
45382:    NaT
45383:    NaT
45384:    NaT
45385:    NaT
45386:    NaT
45387:    NaT
45388:    NaT
45389:    NaT
45390:    NaT
45391:    NaT
45392:    NaT
45393:    NaT
45394:    NaT
45395:    NaT
45396:    NaT
45397:    NaT
45398:    NaT
45399:    NaT
45400:    NaT
45401:    NaT
45402:    NaT
45403:    NaT
45404:    NaT
45405:    NaT
45406:    NaT
45407:    NaT
45408:    NaT
45409:    NaT
45410:    NaT
45411:    NaT
45412:    NaT
45413:    NaT
45414:    NaT
45415:    NaT
45416:    NaT
45417:    NaT
45418:    NaT
45419:    NaT
45420:    NaT
45421:    NaT
45422:    NaT
45423:    NaT
45424:    NaT
45425:    NaT
45426:    NaT
45427:    NaT
45428:    NaT
45429:    NaT
45430:    NaT
45431:    NaT
45432:    NaT
45433:    NaT
45434:    NaT
45435:    NaT
45436:    NaT
45437:    NaT
45438:    NaT
45439:    NaT
45440:    NaT
45441:    NaT
45442:    NaT
45443:    NaT
45444:    NaT
45445:    NaT
45446:    NaT
45447:    NaT
45448:    NaT
45449:    NaT
45450:    NaT
45451:    NaT
45452:    NaT
45453:    NaT
45454:    NaT
45455:    NaT
45456:    NaT
45457:    NaT
45458:    NaT
45459:    NaT
45460:    NaT
45461:    NaT
45462:    NaT
45463:    NaT
45464:    NaT
45465:    NaT
45466:    NaT
45467:    NaT
45468:    NaT
45469:    NaT
45470:    NaT
45471:    NaT
45472:    NaT
45473:    NaT
45474:    NaT
45475:    NaT
45476:    NaT
45477:    NaT
45478:    NaT
45479:    NaT
45480:    NaT
45481:    NaT
45482:    NaT
45483:    NaT
45484:    NaT
45485:    NaT
45486:    NaT
45487:    NaT
45488:    NaT
45489:    NaT
45490:    NaT
45491:    NaT
45492:    NaT
45493:    NaT
45494:    NaT
45495:    NaT
45496:    NaT
45497:    NaT
45498:    NaT
45499:    NaT
45500:    NaT
45501:    NaT
45502:    NaT
45503:    NaT
45504:    NaT
45505:    NaT
45506:    NaT
45507:    NaT
45508:    NaT
45509:    NaT
45510:    NaT
45511:    NaT
45512:    NaT
45513:    NaT
45514:    NaT
45515:    NaT
45516:    NaT
45517:    NaT
45518:    NaT
45519:    NaT
45520:    NaT
45521:    NaT
45522:    NaT
45523:    NaT
45524:    NaT
45525:    NaT
45526:    NaT
45527:    NaT
45528:    NaT
45529:    NaT
45530:    NaT
45531:    NaT
45532:    NaT
45533:    NaT
45534:    NaT
45535:    NaT
45536:    NaT
45537:    NaT
45538:    NaT
45539:    NaT
45540:    NaT
45541:    NaT
45542:    NaT
45543:    NaT
45544:    NaT
45545:    NaT
45546:    NaT
45547:    NaT
45548:    NaT
45549:    NaT
45550:    NaT
45551:    NaT
45552:    NaT
45553:    NaT
45554:    NaT
45555:    NaT
45556:    NaT
45557:    NaT
45558:    NaT
45559:    NaT
45560:    NaT
45561:    NaT
45562:    NaT
45563:    NaT
45564:    NaT
45565:    NaT
45566:    NaT
45567:    NaT
45568:    NaT
45569:    NaT
45570:    NaT
45571:    NaT
45572:    NaT
45573:    NaT
45574:    NaT
45575:    NaT
45576:    NaT
45577:    NaT
45578:    NaT
45579:    NaT
45580:    NaT
45581:    NaT
45582:    NaT
45583:    NaT
45584:    NaT
45585:    NaT
45586:    NaT
45587:    NaT
45588:    NaT
45589:    NaT
45590:    NaT
45591:    NaT
45592:    NaT
45593:    NaT
45594:    NaT
45595:    NaT
45596:    NaT
45597:    NaT
45598:    NaT
45599:    NaT
45600:    NaT
45601:    NaT
45602:    NaT
45603:    NaT
45604:    NaT
45605:    NaT
45606:    NaT
45607:    NaT
45608:    NaT
45609:    NaT
45610:    NaT
45611:    NaT
45612:    NaT
45613:    NaT
45614:    NaT
45615:    NaT
45616:    NaT
45617:    NaT
45618:    NaT
45619:    NaT
45620:    NaT
45621:    NaT
45622:    NaT
45623:    NaT
45624:    NaT
45625:    NaT
45626:    NaT
45627:    NaT
45628:    NaT
45629:    NaT
45630:    NaT
45631:    NaT
45632:    NaT
45633:    NaT
45634:    NaT
45635:    NaT
45636:    NaT
45637:    NaT
45638:    NaT
45639:    NaT
45640:    NaT
45641:    NaT
45642:    NaT
45643:    NaT
48788:    NaT
49052:    NaT
49053:    NaT
49310:    NaT
49311:    NaT
49312:    NaT
49313:    NaT
49314:    NaT
49315:    NaT
49316:    NaT
49317:    NaT
49318:    NaT
49319:    NaT
49320:    NaT
49321:    NaT
49322:    NaT
49323:    NaT
49324:    NaT
49325:    NaT
49326:    NaT
369

In [43]:
#result[13407]['FECLLE'] = pd.Timestamp(1981, 2, 26, 0, 0, 0)
result[13407:13408][['NOMBRE', 'APELLI', 'FECLLE', 'NOMBRE VAPOR']]
result[13407:1]

Empty DataFrame
Columns: [APELLI, DESEMBARQ, EDAD, ESTCIV, FECLLE, INSTRU, LUGNAC, NACION, NOMBRE, NOMBRE VAPOR, PROFES, PUERTO.descri, PUERTO_descri, RELIGI.descri, RELIGI_descri, SEXO, id_inm]
Index: []

In [26]:
result[45296:45643] # transjordanos

#result[result["NACION"]==151]

,APELLI,DESEMBARQ,EDAD,ESTCIV,FECLLE,INSTRU,LUGNAC,NACION,NOMBRE,NOMBRE VAPOR,PROFES,PUERTO.descri,PUERTO_descri,RELIGI.descri,RELIGI_descri,SEXO,id_inm
0,JASBECK,100,45.0,C,NaT,S,DESCONOCIDO,57,JEORGES,CANTON,SIN PROFESION,NaN,MARSELLA,NaN,CATOLICA,M,NaN
1,KIRKO,100,36.0,C,NaT,S,DESCONOCIDO,57,MICHEL,CANTON,SIN PROFESION,NaN,MARSELLA,NaN,CATOLICA,M,NaN
2,MALSA,100,38.0,C,NaT,S,DESCONOCIDO,57,MOISES,ANTONIO LOPEZ,COMERCIO,NaN,CADIZ,NaN,MAHOMETANA,M,NaN
3,LACHUND,100,14.0,S,NaT,S,DESCONOCIDO,49,GEORG,WITTEKIND,JORNALERO,NaN,BREMEN,NaN,PROTESTANTE,M,NaN
4,LACHUND,100,16.0,S,NaT,S,DESCONOCIDO,49,HENRICH,WITTEKIND,JORNALERO,NaN,BREMEN,NaN,PROTESTANTE,M,NaN
5,ROSANOS,100,48.0,S,NaT,D,DESCONOCIDO,49,ADOL,AQUITAINE,ILEGIBLE,NaN,MARSELLA,NaN,CATOLICA,M,NaN
6,ESPINAH,100,34.0,C,NaT,N,DESCONOCIDO,57,ABER,DANUBE,SASTRE,NaN,RIO DE JANEIRO,NaN,VARIOS,M,NaN
7,RILO,100,45.0,S,NaT,S,DESCONOCIDO,72,SALOMON,CATALU?A,SU CASA,NaN,CADIZ,NaN,CATOLICA,M,NaN
8,BENAIN,100,48.0,V,NaT,S,DESCONOCIDO,72,FREIJA,CATALU?A,SU CASA,NaN,CADIZ,NaN,CATOLICA,F,NaN
9,BENAIN,100,17.0,S,NaT,S,DESCONOCIDO,72,FREIJA,CATALU?A,SU CASA,NaN,CADIZ,NaN,CATOLICA,F,NaN
10,KAHAN,100,42.0,C,NaT,S,DESCONOCIDO,126,MOISE,PORTE?A,MARCHANT,NaN,HAVRE,NaN,ISRAELITA,M,NaN
11,KAHAN,100,26.0,S,NaT,S,DESCONOCIDO,126,MICHEL,PORTE?A,MARCHANT,NaN,HAVRE,NaN,ISRAELITA,M,NaN
12,KAHAN,100,22.0,S,NaT,S,DESCONOCIDO,126,VICTORINE,PORTE?A,SIN PROFESION,NaN,HAVRE,NaN,ISRAELITA,F,NaN
13,KAHAN,100,20.0,S,NaT,S,DESCONOCIDO,126,EVA,PORTE?A,SIN PROFESION,NaN,HAVRE,NaN,ISRAELITA,F,NaN
14,KAHAN,100,18.0,S,NaT,S,DESCONOCIDO,126,SUZANNE,PORTE?A,SIN PROFESION,NaN,HAVRE,NaN,ISRAELITA,F,NaN
15,KAHAN,100,10.0,S,NaT,S,DESCONOCIDO,126,NEPTHALIE,PORTE?A,DESCONOCIDA,NaN,HAVRE,NaN,ISRAELITA,F,NaN
16,KAHAN,100,8.0,S,NaT,S,DESCONOCIDO,126,LIEBE,PORTE?A,DESCONOCIDA,NaN,HAVRE,NaN,ISRAELITA,M,NaN
17,KAHAN,100,6.0,S,NaT,S,DESCONOCIDO,126,JACOB,PORTE?A,DESCONOCIDA,NaN,HAVRE,NaN,ISRAELITA,M,NaN
18,SCHNOUN,100,19.0,S,NaT,S,DESCONOCIDO,126,HATE,COLERIDGE,ILEGIBLE,NaN,LONDRES,NaN,PROTESTANTE,F,NaN
19,MARCOVICH,100,29.0,D,NaT,D,DESCONOCIDO,49,AMACOVICH,ANTONIO LOPEZ,COMERCIO,NaN,MARSELLA,NaN,DESCONOCIDA,D,NaN
20,MILES,100,20.0,S,NaT,S,DESCONOCIDO,72,GEORGE,THAMES,CRIADO,NaN,SOUTHAMPTON,NaN,PROTESTANTE,M,NaN
21,ABRAMOVITZ,100,24.0,S,NaT,S,DESCONOCIDO,72,ERMAN,MAGDALENA,SASTRE,NaN,RIO DE JANEIRO,NaN,CATOLICA,M,NaN
22,WEISS,100,38.0,S,NaT,S,DESCONOCIDO,72,HENRI,MAGDALENA,SASTRE,NaN,RIO DE JANEIRO,NaN,CATOLICA,M,NaN
23,DEKUKSPACK,100,46.0,S,NaT,S,DESCONOCIDO,57,H.,DUCA DI GALLIERA,AMA DE CASA,NaN,GENOVA,NaN,CATOLICA,M,NaN
24,IONA,100,27.0,C,NaT,S,DESCONOCIDO,126,GRIMEBERG,ORIONE,CULTIVADOR,NaN,GENOVA,NaN,CATOLICA,M,NaN
25,IONA,100,26.0,C,NaT,S,DESCONOCIDO,126,KAIKA,ORIONE,CULTIVADOR,NaN,GENOVA,NaN,CATOLICA,F,NaN
26,IONA,100,50.0,V,NaT,S,DESCONOCIDO,126,ZALIA,ORIONE,CULTIVADOR,NaN,GENOVA,NaN,CATOLICA,F,NaN
27,IONA,100,5.0,S,NaT,X,DESCONOCIDO,126,ABRAM,ORIONE,DESCONOCIDA,NaN,GENOVA,NaN,CATOLICA,M,NaN
28,LEIB,100,55.0,C,NaT,X,DESCONOCIDO,126,KOSVINE,ORIONE,AGRICULTOR,NaN,GENOVA,NaN,CATOLICA,M,NaN
29,LEIB,100,46.0,C,NaT,X,DESCONOCIDO,126,FIGA,ORIONE,AGRICULTOR,NaN,GENOVA,NaN,CATOLICA,F,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,CLOSTER,100,19.0,S,NaT,S,DESCONOCIDO,80,ANNA MARGARETA,MARK,AGRICULTOR,NaN,BREMEN,NaN,CATOLICA,F,NaN
318,CLOSTER,100,19.0,S,NaT,S,DESCONOCIDO,80,JOHANES,MARK,AGRICULTOR,NaN,BREMEN,NaN,CATOLICA,M,NaN
319,CLOSTER,100,44.0,C,NaT,S,DESCONOCIDO,80,PAUL,MARK,AGRICULTOR,NaN,BREMEN,NaN,CATOLICA,M,NaN
320,CLOSTER,100,37.0,C,NaT,S,DESCONOCIDO,80,CONSTANCIA,MARK,AGRICULTOR,NaN,BREMEN,NaN,CATOLICA,F,NaN
321,CLOSTER,100,13.0,S,NaT,S,DESCONOCIDO,80,GEORG,MARK,AGRICULTOR,NaN,BREMEN,NaN,CATOLICA,M,NaN
322,CLOSTER,100,11.0,S,NaT,S,DESCONOCIDO,80,STEFAN,MARK,AGRICULTOR,NaN,BREMEN,NaN,CATOLICA,M,NaN
323,CLOSTER,100,8.0,S,NaT,S,DESCONOCIDO,80,IGNAZ,MARK,DESCONOCIDA,NaN,BREMEN,NaN,CATOLICA,M,NaN
324,CLOSTER,100,5.0,S,NaT,X,DESCONOCIDO,80,JOSEF,MARK,DESCONOCIDA,NaN,BREMEN,NaN,CATOLICA,M,NaN
325,CLOSTER,100,1.0,S,NaT,X,DESCONOCIDO,80,PAUL,MARK,DESCONOCIDA,NaN,BREMEN,NaN,CATOLICA,M,NaN
326,HONRAD,100,26.0,C,NaT,S,DESCONOCIDO,80,CONRAD,MARK,AGRICULTOR,NaN,BREMEN,NaN,CATOLICA,M,NaN
327,HONRAD,100,24.0,C,NaT,S,DESCONOCIDO,80,BARBARA,MARK,AGRICULTOR,NaN,BREMEN,NaN,CATOLICA,F,NaN
328,HONRAD,100,3.0,S,NaT,X,DESCONOCIDO,80,JOHAMES,MARK,DESCONOCIDA,NaN,BREMEN,NaN,CATOLICA,M,NaN
329,HONRAD,100,3.0,S,NaT,X,DESCONOCIDO,80,GOTTHIEB,MARK,DESCONOCIDA,NaN,BREMEN,NaN,CATOLICA,M,NaN
330,KRIEGER LORENZ,100,20.0,S,NaT,S,DESCONOCIDO,80,JOHANNES,MARK,AGRICULTOR,NaN,BREMEN,NaN,CATOLICA,M,NaN
331,MAYEROVICH,100,50.0,D,NaT,S,DESCONOCIDO,80,JOHN,PORTUGAL,EMPLEADO,NaN,MARIN,NaN,CATOLICA,M,NaN
332,OPPIOURSKI,100,28.0,C,NaT,S,DESCONOCIDO,80,WALBER,MAGDALENA,COMERCIANTE,NaN,RIO DE JANEIRO,NaN,CATOLICA,M,NaN
333,COHEN,100,23.0,S,NaT,S,DESCONOCIDO,72,ANNIE,IBERIA,DESCONOCIDA,NaN,LIVERPOOL,NaN,CATOLICA,F,NaN
334,HAIDAR,100,30.0,C,NaT,S,DESCONOCIDO,49,ELIAS,EQUATEUR,SIN PROFESION,NaN,BURDEOS,NaN,CATOLICA,M,NaN
335,HURI,100,21.0,C,NaT,S,DESCONOCIDO,49,ASSAR,EQUATEUR,SIN PROFESION,NaN,BURDEOS,NaN,CATOLICA,M,NaN
336,MANFOIR,100,20.0,C,NaT,S,DESCONOCIDO,49,ANNA,EQUATEUR,SIN PROFESION,NaN,BURDEOS,NaN,CATOLICA,M,NaN
337,MANFOIR,100,20.0,C,NaT,N,DESCONOCIDO,49,MARIA,EQUATEUR,SIN PROFESION,NaN,BURDEOS,NaN,CATOLICA,F,NaN
338,COHEN,100,16.0,S,NaT,N,DESCONOCIDO,57,SALOMON,BENICARLO,COMERCIANTE,NaN,GIBRALTAR,NaN,JUDIA,M,NaN
339,GERSON,100,39.0,D,NaT,S,DESCONOCIDO,49,DAVID,NORD AMERICA,SIN PROFESION,NaN,GENOVA,NaN,CATOLICA,M,NaN
340,GERSON,100,28.0,D,NaT,S,DESCONOCIDO,49,ANNA,NORD AMERICA,SIN PROFESION,NaN,GENOVA,NaN,CATOLICA,F,NaN
341,ABRAM,100,35.0,S,NaT,S,DESCONOCIDO,49,SALOMON,EQUATEUR,COM.,NaN,RIO DE JANEIRO,NaN,VARIOS,M,NaN
342,TSCHXIMPR,100,19.0,S,NaT,N,DESCONOCIDO,126,JACOB,RIO NEGRO,DESCONOCIDA,NaN,HAVRE,NaN,JUDIA,M,NaN
343,MEYER,100,38.0,S,NaT,N,DESCONOCIDO,126,MARIA,RIO NEGRO,DESCONOCIDA,NaN,HAVRE,NaN,JUDIA,F,NaN
344,MEYER,100,16.0,S,NaT,N,DESCONOCIDO,126,FERDINAND,RIO NEGRO,DESCONOCIDA,NaN,HAVRE,NaN,JUDIA,M,NaN
345,MEYER,100,11.0,S,NaT,N,DESCONOCIDO,126,CLARA,RIO NEGRO,DESCONOCIDA,NaN,HAVRE,NaN,JUDIA,F,NaN
346,MEYER,100,1.0,S,NaT,X,DESCONOCIDO,126,ARNOLD,RIO NEGRO,DESCONOCIDA,NaN,HAVRE,NaN,JUDIA,M,NaN

In [ ]:
nacionalidades = result["NACION"]

In [ ]:
nacionalidades.count()

In [ ]:
dicNaciones = {'26':'26', '57':'HEBREA', '49':'PERSA', '72':'JUDIA', '126':'ISRAELITA', '80':'RUSO HEBREA',
              '128':'LIBANESA', '122':'PERSA ARMENIA', '151':'MUSULMANES', '148':'PALESTINOS', '157':'JERUSALEM',
              '402':'TRANS JORDANA', '1558':'AMMAN', '1556':'JORDANIA', '1659':'RUSO APATRIDA', '30':'ARABE',
              'ARABE SIRIO':'ARABE SIRIO', 'Asiatica':'ASIATICA', '51':'ASIATICA', 'Assirio':'ASSIRIO', '218':'ASSIRIO',
              '24':'TURCA', '141':'TURCO ALBANESA', '103':'TURCO HEBREA', '130':'TURCO-ARABE', '121':'TURCO-ARMENIA',
              '21':'SIRIOLIBANESA', '58':'SIRIO', '67':'LEVANTINA', '53':'OTOMANA', '116':'TURCO-GRECA',
              '125':'TURCO-SERBIA', '131':'TURCO-ROMANA', '140':'TURCO-SIRIA', '133':'TURCO-ASIATICA', '161':' SIRIO FRANCESA'}

In [ ]:
dicNaciones

In [ ]:
NACIONALIDAD = []
for nacion in nacionalidades:
    if nacion in dicNaciones:
        NACIONALIDAD.append(dicNaciones[nacion])
    elif str(nacion) in dicNaciones:
        NACIONALIDAD.append(dicNaciones[str(nacion)])
    else:
        NACIONALIDAD.append(str(nacion))

In [ ]:
result["NACIONALIDAD"] = NACIONALIDAD

In [ ]:
migrantes = result

In [ ]:
del(migrantes["RELIGI.descri"])

In [ ]:
migrantes.to_excel("data-n/migrantes-al-mashriq.xlsx")

In [ ]:
migrantes[['NACIONALIDAD','APELLI']].groupby('NACIONALIDAD').count()

In [ ]:
migrantes[['NACIONALIDAD','APELLI']].groupby('NACIONALIDAD').count().plot.barh(figsize=(15,20))

In [ ]:
migrantes[['APELLI','SEXO']].groupby('SEXO').count().plot.pie(y=None, subplots=True)

In [ ]:
migrantes[['RELIGI_descri','APELLI']].groupby('RELIGI_descri').count()

In [ ]:
migrantes[['RELIGI_descri','APELLI']].groupby('RELIGI_descri').count().plot.barh(figsize=(15,20))

In [ ]:
migrantes[['NOMBRE VAPOR','APELLI']].groupby('NOMBRE VAPOR').count()

In [ ]:
migrantes[['PUERTO_descri','APELLI']].groupby('PUERTO_descri').count().plot.barh(figsize=(15,20))

## Criterios de agrupamiento para palestinos

* Profesion
* Sexo
* Instrucción
* Religión
* Edades y promedio
* Estado civil
* Buques
* Puerto de partida 
* Puerto de llegada